doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='/css/main.css')
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp')
      link(rel='shortcut icon' type='image/png' href='/img/menu/teide_logo.png')
      title= `TFG | ${title}`
  body
    if usuario
      .popup 
      .popup__review
        .popup__review--close ×
        .popup__review--title Añade una valoración
        .popup__review--content
          .star-rating
            input(type="radio" name="stars" id="star-a" value="5")
            label(for="star-a")

            input(type="radio" name="stars" id="star-b" value="4")
            label(for="star-b")

            input(type="radio" name="stars" id="star-c" value="3")
            label(for="star-c")

            input(type="radio" name="stars" id="star-d" value="2")
            label(for="star-d")

            input(type="radio" name="stars" id="star-e" value="1")
            label(for="star-e")

          textarea.review-content(rows="10" placeholder="Comparte tu experiencia aquí..")
          span.error-empty No puede enviar una valoración sin comentario
          
          .send-review Enviar
    //Header
    include _header

    //Content
    .page-content
      block content 

    //Footer
    include _footer

    script(src='/js/index.js')