extends base

block content
  main.fronpage-wrapper.container
    .main-img-wrapper
      img.main-img(src='../img/teide.jpg' alt='TFG Senderos Tenerife Logo Dark')
      h1.fp-heading La plataforma definitiva de senderos de Tenerife
    .text-content
      h2.platform-details Conoce Tenerife y sus rutas de senderismo
      h3 En esta web podrás:
      ul.features-list
        li.search Encontrar senderos
        li.map Ver un mapa de su ruta
        li.user Crear una cuenta
        li.star Añadir reviews
        li.paper Valorar los senderos
        li.book Reservar una aventura guiada 
    .sec-img-wrapper
      img.sec-img(src='../img/draguillo-benijo.jpg' alt='TFG Senderos Tenerife Logo Dark')
      a.cta-link.accent(href="/registro") Crea tu cuenta 
    .third-img-wrapper
      img.third-img(src='../img/IMG-20220109-WA0010.jpg' alt='TFG Senderos Tenerife Logo Dark')
      a.cta-link(href="/overview") Senderos 