extends base

block content
  .container.archive
    .senderos
      .senderos__data
        h1.senderos__data--title Senderos de Tenerife
        .senderos__data--query
          ul.senderos__data--query-pagination
            li.page-item.prev.disabled
              i.fas.fa-chevron-left
            li.page-item.current
              span.page-link 1
            li.page-item
              span.page-link 2
            li.page-item
              span.page-link 3
            li.page-item.next
              i.fas.fa-chevron-right

          .senderos__data--query-search
            input.search(type='text' name='search' placeholder='Buscar...')
      
      .senderos__items
        - let average = 3.6
        - let rating = (average / 5) * 100
        each val in [1, 2, 3, 4, 5, 6]
          .senderos__items--single(class=val)
            .sendero-container
              img.sendero-img(src='/img/senderos/ruta-de-masca.png' alt='Nombre Sendero Image')
              .sendero-data
                .sendero-data__title
                  h3.sendero-data__title--name Ruta de Masca
                  span.sendero-data__title--dificultad.dificil Difícil
                
                .sendero-data__info
                  .sendero-data__info--rating
                    .reviews-avg
                      .empty-stars
                      .full-stars(style=`width: ${rating}%`)
                    .reviews-avg-n= average
                  .sendero-data__info--price 35€
                
                .sendero-data__location Buenavista del Norte
                
                .sendero-data__date
                  .sendero-data__date--date Junio 2022
                  .sendero-data__date--duration 5h
                
                .sendero-data__book
                  a.info-button.ov-button(href='./') Info
                  .book-button.ov-button Reserva